*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --clr: #083d41;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--clr);
}

.card{
    position: relative;
    width: 320px;
    height: 430px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .box{
    position: relative;
    width: 110%;
    height: 200px;
    background-color: #f00;
    border-radius: 15px;
}

.card .box:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 106px;
    left: -1px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    z-index: 10;
    border-bottom-left-radius: 20px;
    box-shadow: -7px 6px var(--clr);
}

.card .box:nth-child(1)::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 105px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    z-index: 10;
    border-bottom-left-radius: 20px;
    box-shadow: -7px 6px var(--clr);
}

.card .box:nth-child(2)::before{
    content: '';
    position: absolute;
    bottom: 106px;
    left: -0px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    z-index: 10;
    border-top-left-radius: 20px;
    box-shadow: -7px -5px var(--clr);
}
.card .box:nth-child(2)::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 109px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    z-index: 10;
    border-top-left-radius: 20px;
    box-shadow: -5px -6px var(--clr);
}

.card .box:nth-child(2){
    background-color: #fff;
    height: 220px;
    width: 100%;
}

.card .circle{
    position: absolute;
    top: 50%;
    left: -70px;
    transform: translateY(-50%);
    width: 180px;
    height: 180px;
    background-color: #f00;
    border-radius: 50%;
    border: 10px solid var(--clr);
}
.card .circle .image{
    position: absolute;
    inset: 0;
    overflow: hidden;
    border-radius: 50%;
}
.card .circle .image img{
    position: absolute;
    top: 30px;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.card .box .imgs{
    position: absolute;
    inset: 0;
    overflow: hidden;
}
.card .box .imgs img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}